In [1]:
import json
import csv
import pandas as pd
from pprint import pprint as pprint
import requests
from config import censusapi, gmapsapi
import gmaps
import citipy
gmaps.configure(api_key = gmapsapi)

In [2]:
data = pd.read_csv("2010globalpopulation.txt")
df = pd.DataFrame(data)
uniquecountries = df["NAME"].unique()
totalpopbycountrydf = pd.DataFrame(uniquecountries, columns = {"Country Name"})

In [3]:
population = 0
negater = 0

years = []
for x in range(9):
    year = 2010 + x
    years.append(year)

In [4]:
for year in years:
    dataloop = pd.read_csv(f"{year}globalpopulation.txt")
    dfloop = pd.DataFrame(dataloop)
    totalpopulation = []
    for i in range(len(df)):
        population += dfloop["POP"][i]
        if df["AGE"][i] == 100:
            countrypop = population - negater
            negater = population
            totalpopulation.append(countrypop)

    totalpopbycountrydf[f"{year} Total Population"] = totalpopulation

In [5]:
totalpopbycountrydf.head()

,Country Name,2010 Total Population,2011 Total Population,2012 Total Population,2013 Total Population,2014 Total Population,2015 Total Population,2016 Total Population,2017 Total Population,2018 Total Population
0,Aruba,104589,106113,107635,109153,110663,112162,113648,115120,116576
1,Antigua and Barbuda,86754,87884,89018,90156,91295,92436,93581,94731,95882
2,United Arab Emirates,4975593,5148664,5314317,5473972,5628805,5779760,5927482,6072475,6215216
3,Afghanistan,29120727,29757566,30419928,31108077,31822848,32564342,33332025,34124811,34940837
4,Algeria,35949869,36654293,37367226,38087812,38813722,39542166,40263711,40969443,41657488

In [6]:
countriesdata = pd.read_csv("countrieslatlon.txt")
latitude = []
longitude = []
countrycode = []
countryname = []
for i in range(len(countriesdata)):
    if countriesdata["Country"][i] in uniquecountries:
        countrycode.append(countriesdata["ISO 3166 Country Code"][i])
        countryname.append(countriesdata["Country"][i])
        latitude.append(countriesdata["Latitude"][i])
        longitude.append(countriesdata["Longitude"][i])

In [7]:
countrydf = pd.DataFrame(countryname,columns = {"Country Name"},index = countrycode)
countrydf["Latitude"] = latitude
countrydf["Longitude"] = longitude

In [68]:
countrydf.merge(totalpopbycountrydf)

,Country Name,Latitude,Longitude,2010 Total Population,2011 Total Population,2012 Total Population,2013 Total Population,2014 Total Population,2015 Total Population,2016 Total Population,2017 Total Population,2018 Total Population
0,Andorra,42.50,1.50,84525,84825,85082,85293,85458,85580,85660,85702,85708
1,United Arab Emirates,24.00,54.00,4975593,5148664,5314317,5473972,5628805,5779760,5927482,6072475,6215216
2,Afghanistan,33.00,65.00,29120727,29757566,30419928,31108077,31822848,32564342,33332025,34124811,34940837
3,Antigua and Barbuda,17.05,-61.80,86754,87884,89018,90156,91295,92436,93581,94731,95882
4,Anguilla,18.25,-63.17,14766,15094,15423,15754,16086,16418,16752,17087,17422
5,Albania,41.00,20.00,2986952,2994667,3002859,3011405,3020209,3029278,3038594,3047987,3057220
6,Armenia,40.00,45.00,3071972,3069558,3067015,3064111,3060631,3056382,3051250,3045191,3038217
7,Angola,-12.50,18.50,22640745,23498752,24406974,25352999,26313499,27292149,28289713,29310273,30355880
8,Argentina,-34.00,-64.00,41358092,41791721,42216144,42635450,43057443,43474726,43886748,44293293,44694198
9,American Samoa,-14.33,-170.00,55529,55078,54565,54006,53426,52807,52165,51504,50826
10,Austria,47.33,13.33,8447901,8475092,8513010,8562634,8615828,8665550,8711770,8754413,8793370
11,Australia,-27.00,133.00,21515754,21766711,22015576,22262501,22507617,22751014,22992654,23232413,23470145
12,Aruba,12.50,-69.97,104589,106113,107635,109153,110663,112162,113648,115120,116576
13,Azerbaijan,40.50,47.50,9301673,9397279,9493600,9590159,9686210,9780780,9872765,9961396,10046516
14,Bosnia and Herzegovina,44.00,18.00,3884899,3882359,3879296,3875723,3871643,3867055,3861912,3856181,3849891
15,Barbados,13.17,-59.53,285653,286705,287733,288725,289680,290604,291495,292336,293131
16,Bangladesh,24.00,90.00,146615872,148248955,149867054,151466689,153044873,154596024,156186882,157826578,159453001
17,Belgium,50.83,4.00,10865722,10962548,11058133,11148086,11236729,11323973,11409077,11491346,11570762
18,Burkina Faso,13.00,-2.00,16241811,16751455,17275115,17812961,18365123,18931686,19512533,20107509,20716669
19,Bulgaria,43.00,25.00,7391079,7350504,7308613,7267961,7228183,7186893,7144653,7101510,7057504
20,Bahrain,26.00,50.55,1180080,1214705,1248348,1281332,1314089,1346613,1378904,1410942,1442659
21,Burundi,-3.50,30.00,9120944,9422208,9735984,10060714,10395931,10742276,11099298,11466756,11844520
22,Benin,9.50,2.25,9056010,9325032,9598787,9877292,10160556,10448647,10741458,11038805,11340504
23,Bermuda,32.33,-64.75,68265,68679,69080,69467,69839,70196,70537,70864,71176
24,Bolivia,-17.00,-65.00,9947418,10118683,10290003,10461053,10631486,10800882,10969649,11138234,11306341
25,Brazil,-10.00,-55.00,195834188,197595498,199321413,201009622,202656788,204259812,205823665,207353391,208846892
26,Bhutan,27.50,90.50,699847,708427,716896,725296,733643,741919,750125,758288,766397
27,Botswana,-22.00,24.00,1977723,2011047,2044548,2078313,2112305,2146408,2180597,2214858,2249104
28,Belarus,53.00,28.00,9680068,9661508,9643566,9625888,9608058,9589689,9570376,9549747,9527543
29,Belize,17.25,-88.75,314522,321115,327719,334297,340844,347369,353858,360346,366820
...,...,...,...,...,...,...,...,...,...,...,...,...
167,Swaziland,-26.50,31.50,1354051,1370424,1386914,1403362,1419623,1435613,1451428,1467152,1482733
168,Turks and Caicos Islands,21.75,-71.58,43212,44819,46335,47754,49070,50280,51430,52570,53701
169,Chad,15.00,19.00,10543464,10758945,10975648,11193452,11412107,11631456,11852462,12075985,12301522
170,Togo,8.00,1.17,6587239,6771993,6961049,7154237,7351374,7552318,7756937,7965055,8176449
171,Thailand,15.00,100.00,66720446,66987118,67245400,67497151,67741401,67976405,68200824,68414135,68615858
172,Tajikistan,39.00,71.00,7487489,7627200,7768385,7910041,8051512,8191958,8330946,8468555,8604882
173,Turkmenistan,40.00,60.00,4940916,4997503,5054828,5113040,5171943,5231422,5291317,5351277,5411012
174,Tunisia,34.00,9.00,10525963,10647404,10772543,10901933,11032836,11161625,11285452,11403800,11516189
175,Tonga,-20.00,-175.00,105632,105916,106146,106322,106440,106501,106513,106479,106398
176,Turkey,39.00,35.00,74686698,75481903,76381757,77388641,78401967,79414269,80274604,80845215,81257239
177,Trinidad and Tobago,11.00,-61.00,1228691,1227505,1226383,1225225,1223916,1222363,1220479,1218208,1215527
178,Tuvalu,-8.00,178.00,10472,10544,10619,10698,10782,10869,10959,11052,11147
179,Taiwan,23.50,121.00,23126580,23174265,23234936,23299716,23359928,23415126,23464787,23508428,23545963
180,Ukraine,49.00,32.00,45768171,45603516,45491526,45388586,44943869,44429471,44209733,44033874,43952299
181,Uganda,1.00,32.00,31507228,32560222,33640833,34758809,35918915,37101745,38319241,39570125,40853749
182,United States,38.00,-97.00,309348193,311663358,313998379,316204908,318563456,320896618,323127513,326625791,329256465
183,Uruguay,-33.00,-56.00,3301076,3308535,3316328,3324460,3332972,3341893,3351016,3360148,3369299
184,Uzbekistan,41.00,64.00,27865738,28128600,28394180,28661637,28929716,29199942,29473614,29748859,30023709
185,Saint Vincent and the Grenadines,13.25,-61.20,104217,103869,103537,103220,102918,102627,102350,102089,101844
186,Venezuela,8.00,-66.00,28480787,28890744,29299421,29706761,30111977,30514414,30912302,31304016,31689176
187,"Virgin Islands, British",18.50,-64.50,29640,30391,31148,31912,32680,33454,34232,35015,35802
188,"Virgin Islands, U.S.",18.33,-64.83,108358,108292,108191,108044,107884,107710,107510,107268,106977
189,Vietnam,16.00,106.00,89571130,90549390,91519289,92477857,93421835,94348835,95261021,96160163,97040334
190,Vanuatu,-16.00,167.00,245253,250716,256155,261565,266937,272264,277554,282814,288037
191,Wallis and Futuna,-13.30,-176.20,15343,15398,15453,15507,15561,15613,15664,15714,15763
192,Samoa,-13.58,-172.33,192001,193161,194320,195476,196628,197773,198926,200108,201316
193,Yemen,15.00,48.00,23209521,23898794,24617071,25338458,26052966,26737317,27392779,28036829,28667230
194,South Africa,-29.00,24.00,51122965,51453823,51913821,52425155,53006857,53675563,54300704,54841552,55380210
195,Zambia,-15.00,30.00,13041876,13424596,13817479,14222233,14638505,15066266,15510711,15972000,16445079
196,Zimbabwe,-20.00,30.00,12721828,12846326,12974879,13107377,13251426,13415796,13600580,13805084,14030368